/*-------------------------------*\
            BUTTONS
\*-------------------------------*/

.btn {
    display: inline-block;
    width: 16rem;
    padding: 1.2rem 0;
    border: 0.2rem solid;
    border-color: transparent;
    text-align: center;
    border-radius: 24px;
    font-size:  1.2rem;
    font-weight: bold;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
}

.btn--primary-hollow {
    border-color: #6200EA;
    color: #6200EA;
}

.btn--secondary-solid {
    background-color: #fff;
    color: #6200EA;
    border-color: #fff;
}

.btn--secondary-hollow {
    border-color: #fff;
    color: #fff;
}


/*-------------------------------*\
            HEADER
\*-------------------------------*/

.header {
    height: 8rem;
    background-color: #6200EA;
    position: relative;
}

.header__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo img {
    width: 18rem;
}


#menu-btn {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-5%, -50%);
    font-size: 5rem;
    cursor: pointer;
    display: none;
}

#menu-btn.active { color: #fff; }

#menu-btn:hover { color: #fff; }

/*-------------------------------*\
            NAVIGATION
\*-------------------------------*/

.navigation {
    background-color: #fff;
    height: 8rem;
}

.navigation__wrapper {
    height: 100%;
}

.list__items {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.list__item {
    padding: 2.8rem 0;
    border-bottom: .4rem solid;
    border-bottom-color: transparent;
}

.list__item:hover { border-bottom-color: #6200EA; }

/*-------------------------------*\
            POST
\*-------------------------------*/


.post {
    border-radius: 15px;
    padding: 6rem 6rem 5rem 6rem; 
    overflow: hidden;
    background-color: #fff;
}



.lead { 
    font-size: 1.2rem;
    color: #B2ACBA;
 }

.post__text { 
     font-size: 2rem;
     margin: 1.5rem 0;
     line-height: 3rem;
     }

.post__title {
    font-size: 4rem; 
    margin: 1.5rem 0;
}

.featured__post {
    background-image: url('../assets/blog_posts/roberto-nickson-5ui0tfMC5ts-unsplash.jpg');
    background-size:  cover;
}

.featured__lead { color: #fff; }

.featured__title,
.featured__text  {
    color: #fff;
}

.post__cover {
    height: 32rem;
    display: block;
    border-radius: 15px 15px 0 0;
}

.post--w-cover { border-radius: 0 0 15px 15px; }

/*-------------------------------*\
           CARDS
\*-------------------------------*/

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.cover {
    border-radius: 10px;
}

.card {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(12rem, 1fr) );
    align-items: center;
    gap: 2rem;
    background-color: #fff;
    padding: 2rem;
    border-radius: 15px;
}

.image__wrapper {
    height: 12rem;

}




.sidebar__card {
    background-color: #fff;
    padding: 2rem;
    border-radius: 15px;
}

.sidebar__card img {
    height: 12rem;
    width: 12rem;
    object-fit: cover;
    float: left;
    margin-right: 2rem;
}


.card__title {
    color: #6200EA;
    margin-bottom: 1.5rem;
}

.card__text { font-size: 1.4rem; }




/*-------------------------------*\
            SIDEBAR
\*-------------------------------*/

.sidebar__element {
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
}

.sidebar__element ul li {
    padding: 1.7rem 3rem 1.7rem 3rem;
}

.sidebar__header,
.sidebar__footer {
    padding: 2.3rem 0;
    text-align: center;
}

.sidebar__header {
    background-color: #6200EA;
    color: #fff;
}

.sidebar__footer {
    border-top: 1px solid #F4F3F5;
    color: #B2ACBA;
}

/*-------------------------------*\
            FOOTER
\*-------------------------------*/

.footer {
    height: 10rem;
    background-color: #211138;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    font-size: 1.2rem;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    font-weight: bold;
    color: #B2ACBA;
    text-align: center;
    padding: 0 6rem;
}

.brand__name,
.student__name {
    color: #6200EA;
}

/*-------------------------------*\
            MOBILE
\*-------------------------------*/

@media (max-width: 1152px) {
    .lead { font-size: 1rem; }

    .post__text { 
        font-size: 1.5rem;
        line-height: 2rem;
        }

    .post__title { font-size: 2.5rem; }
}

@media (max-width: 991px) {
    
    html { font-size: 55%; }

    .post {
        padding: 3rem;
    }
    



}

@media (max-width: 876px) {
    
    .btn {
        width: 12rem;
        font-size: 1rem;
        padding: 1rem;
    }

    #menu-btn { display: inline-block; }

    .btn--secondary-solid { display: none; }

    .header { margin-bottom: 4rem; }

    .navigation {
        position: fixed;
        top: 8rem;
        left: 0;
        right: 0;
        height: calc(100vh - 8rem);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: 350ms;
        margin-bottom: 0rem !important;
    }

    .navigation.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .list__items {
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;
    }

    .post__container,
    .sidebar {
        float: none;
        width: 100%;
    }



    .card {
        float: none;
        width: 100%;
        margin-bottom: 2rem;
    }

    .post__cover { height: 20rem; }


}

@media (max-width: 450px) {
    html { font-size: 50%; }
}